<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.js" ></script>
  </head>
  <body ng-app="myApp">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#" style="color: white;"
          >SMP Negeri 1 Arut Selatan</a
        >
      </div>
    </nav>
    <div class="container" ng-controller="appControll">
        <!-- <a href="./face">absensi</a> -->
        <a href="/">Kembali</a>
      <h4 style="text-align:center">Absensi {{sesi}}</h4> 
      <div id="screenshot" style="text-align: center;" > 
        <video autoplay ></video>
        <img src="" />
        <canvas style="display: none;"></canvas>
        <i style="    margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        font-size: 10pt;
        color: black;
        margin-top: 187px;
        background: white;" ng-if="ujian">Wajah harus full</i>
      </div>
      <table class="table" ng-if="ujian">
        <tr>
          <td>
            Kelas
          </td>
          <td>
            <select name="" id=""  ng-model="siswa.kelas" class="form-control">
                <option value="7A">7A</option>
                <option value="7B">7B</option>
                <option value="7C">7C</option>
                <option value="7D">7D</option>
                <option value="7E">7E</option>
                <option value="7F">7F</option>
                <option value="8A">8A</option>
                <option value="8B">8B</option>
                <option value="8C">8C</option>
                <option value="8D">8D</option>
                <option value="8E">8E</option>
                <option value="8F">8F</option>
                <option value="9A">9A</option>
                <option value="9B">9B</option>
                <option value="9C">9C</option>
                <option value="9D">9D</option>
                <option value="9E">9E</option>
                <option value="9F">9F</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            Nama
          </td>
          <td>
            <input list="browsers" name="browser" id="browser" class="form-control" ng-model="siswa.nama">
            <datalist id="browsers">
              <option ng-repeat="klas in kelas | filter:siswa.kelas">{{klas.nama}}</option>
            </datalist>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <i ng-if="notif" style="position: absolute;margin-top: -24px;left: 0;right: 0;color: red;">Nama dan kelas harus di isi</i>
            <button id="capture" ng-click="kirim()" class="btn btn-primary">Saya Hadir</button></td>
        </tr>
      </table>
       <div class="jumbotron" ng-if="statusAbsen" style="    position: relative;
      margin-top: -215px;
      opacity: 0.9;">
        <h3 style="color: green;
        text-align: center;">Sukses absen</h3>
        <table class="table">
          <tr>
            <td>Nama </td>
            <td>{{token.nama}}</td>
          </tr>
          <tr>
            <td>Kelas </td>
            <td>{{token.kelas}}</td>
          </tr>
          <tr>
            <td>Token</td>
            <td><h2 style="color: white;
              background: #000000;
              text-align: center;">{{token.token}}</h2></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;">
              <a href="/jadwal.html" class="btn btn-info">Ke soal</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script > 
      const capture = document.querySelector("#capture");
      const img = document.querySelector("#screenshot img");
      const video = document.querySelector("#screenshot video");
      const canvas = document.createElement("canvas");
      // const tanggal = document
      var today = new Date();
      var tgl = 8//today.getDate();
      var jam = today.getHours();
      var menit = today.getMinutes();
      var sekarang = jam * 60 + menit;
      console.log(jam)
     
      function videof(){
        navigator.mediaDevices
        .getUserMedia({ video: { width: 200, height: 200 } })
        .then(handleSuccess)
        .catch(handleError);
      }
      // videof();

      function handleSuccess(stream) {
        capture.disabled = false;
        video.srcObject = stream;
      }

      function handleError(error) {
        console.error("Error: ", error);
      }

      // batas angular
      var myApp = angular.module("myApp", []);

      myApp.controller("appControll", function ($scope, $http) {
        $scope.sesi = "di tutup"
        $scope.ujian = false
        $scope.siswa = {};
        $scope.allData = [];
        $scope.siswa.kelas = "7A"
        $scope.notif = false;
        $scope.statusAbsen = false;

       function cekSesi(){
        if (sekarang > 430 && sekarang < 540) {
           $scope.sesi = "sesi 1";
           $scope.ujian = true;
           $scope.siswa.tgl = new Date()
           videof();
          }

        if (sekarang > 555 && sekarang < 660) {
            $scope.sesi = "sesi 2"
            $scope.ujian = true
            $scope.siswa.tgl2 = new Date()
            videof();
        }
        }
         cekSesi()
        // console.log($scope.siswa.tgl1)
        $scope.kirim = function () {
          cekSesi()
          // $scope.siswa.tgl = new Date();
          var dataIndex = "bodol"
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
          canvas.getContext("2d").drawImage(video, 0, 0);
          if($scope.sesi == "sesi 1"){
            dataIndex = $scope.allData.findIndex((a)=>{return a.nama == $scope.siswa.nama && new Date(a.tgl).getDate() == tgl && a.kelas == $scope.siswa.kelas})
            $scope.siswa.image = canvas.toDataURL("image/webp");
          }
          
          if($scope.sesi == "sesi 2"){
            dataIndex = $scope.allData.findIndex((a)=>{return a.nama == $scope.siswa.nama && new Date(a.tgl2).getDate() == tgl && a.kelas == $scope.siswa.kelas || a.nama == $scope.siswa.nama && new Date(a.tgl).getDate() == tgl && a.kelas == $scope.siswa.kelas})
            $scope.siswa.image2 = canvas.toDataURL("image/webp");
          }
          console.log($scope.siswa)
          if(dataIndex == -1 || dataIndex == "bodol"){
            $http.post("https://dr3yx.sse.codesandbox.io/post", $scope.siswa).success((a) => {
              $scope.allData.push($scope.siswa);
              console.log("insert sukses");
              $scope.siswa = {};
              $scope.siswa.kelas = '7A'
               $scope.token = a
                $scope.statusAbsen = true
                $scope.ujian = false
            });
          }else{
            $http.put("https://dr3yx.sse.codesandbox.io/update/"+$scope.allData[dataIndex]._id,$scope.siswa).success((a)=>{
              $scope.allData[dataIndex] = $scope.siswa;
              console.log("update suksess")
              $scope.siswa = {};
              $scope.siswa.kelas = '7A'
               $scope.token = a
                $scope.statusAbsen = true
                $scope.ujian = false
            })
          }

        };

        $scope.getData = function () {
          $http.get("https://dr3yx.sse.codesandbox.io/get").success((a) => {
            $scope.allData = a.tabel;
            $scope.kelas = a.kelas;
            console.log($scope.allData)
          });
        };

        $scope.getData();
      });

    </script>
  </body>
</html>
